*{
  color:#474747;
  font-family: arial;
  font-size: 15px;
  margin:0;
  padding:0;
}

.header{
  width:100%;
  height:50px;
  background:white;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
}
.mini-box{
  width:200px;
  height:200px;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  padding:5px;
  background:white;

}
.medium-box{
  width:300px;
  height:300px;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  padding:5px;
  background:white;
}
.big-box{
  width:400px;
  height:400px;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  padding:5px;
  background:white;
}
.box-move{
  width:210px;
  height:210px;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  transition:0.2s;
  padding:20px;
  background:white;
}
.box-move:hover{
  width:220px;
  height:220px;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  transition:0.2s;
}
.input{
  width:250px;
  height:30px;
  border-radius:20px;
  border:0.2px solid black;
  padding:5px;
  outline:none;
}
.input:hover{
  border: 1px solid #34ebb4;
  outline:none;
}
.input:focus{
  box-shadow:0 0 20px 8px rgba(39,196,150,0.1);
  padding:5px;
  transition:0.2s;
}
.input-bottom{
  width:250px;
  height:30px;
  border:none;
  border-bottom: 0.2px solid black;
  outline: none;
  padding:5px;
}
.input-bottom:hover{
  background: #ebfff9;
}
.input-bottom:focus {
  background-color: #c2ffed;
  color:#0c543e;
}
.textbox{
  resize:none;
  width:100px;
  height:100px;
  background:#f0fffa;
  border-radius:20px;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  outline:none;
  padding:10px;
  border:none;
}
.textbox:hover{
  background:#cdfaec;
}
.textbox:focus{
  background:#78f593;
  color:#135742;
  color:white;
  transition: 0.2s;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
}
.div-select{
  width:300px;
  height:200px;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  padding:10px;
  background:white;
}
.div-select:hover{
  width:300px;
  height:200px;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  background:#96ffad;
  color:white;
  border-radius:20px;
  transition: 0.3s;
  
}
.div-dropdown{
  width:300px;
  height:50px;
  box-shadow: 0 20px 20px 4px rgba(0,0,0,.12);
  overflow:hidden;
  transition:0.5s;
  padding:10px;

}
.div-dropdown:hover{
  background:#48947d;
  height:300px;
  transition:0.2s;
}
.title{
  font-size: 40px;
  font-weight: lighter;
  cursor:pointer;
  padding:5px;
}
.subtitle{
  font-size:15px;
  font-weight: bold;
  cursor:pointer;
  padding:5px;
}
.box-full-width{
  width:100%;
  height:200px;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  
}
.list{
  list-style: square inside;
  color:#135742;
  padding:5px;
  cursor:pointer;
}
.list-style-nont{
  list-style: none;
  cursor:pointer;
}
.form{
  width:400px;
  height:250px;
  padding:10px;
  text-align: center;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
}
.button{
  width:150px;
  height:40px;
  border:none;
  border-radius: 12px;
  cursor:pointer;
  padding:5px;
}
.button:hover{
  background:#d8eddd;
}
.button:focus{
  background:red;
  padding:2px;
  background:#55e674;
  color:white;
  content: 'submited';
  box-shadow:0 0 20px 8px rgba(39,196,150,0.1);
  transition:0.2s;
}
.center-content{
  width:300px;
  height:300px;
  padding:10px;
  display:flex;
  justify-content: center;
  align-items: center;
  background:white;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
}
.small-container{
  width:500px;
  height:250px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  background:white;
  padding:20px;
}
.medium-container{
  width:650px;
  height:300px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  background:white;
  padding:20px;
}
.big-container{
  width:700px;
  height:400px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  background:white;
  padding:20px;
}
.full-width-container{
  width:100%;
  height:400px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 1px 8px 19px -3px rgba(0,0,0,0.15);
  background:white;
  
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #58c470;
  box-shadow:0 0 20px 30px rgba(39,196,150,0.1);
  cursor:pointer;
}
